
.logo{
    box-sizing: border-box;
    filter: invert();
    width: 100px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.Img{
    opacity: 0.85;
}

.Img:hover{
    transition: .3s;
    opacity: 1;
    
}

.project-img{
    margin: 0 auto;
    height: 60vh;
}

.banner1{
    min-height: 350px;
    /*background: linear-gradient(rgba(0,0,0,.20),rgba(0,0,0,.30)100%), url(../img/4.png) ;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 3px 3px 4px black;
}

.banner2{
    min-height: 350px;
    /*background: linear-gradient(rgba(0,0,0,.20),rgba(0,0,0,.30)100%), url(../img/2.png) ; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 3px 3px 4px black;
}

.banner3{
    min-height: 350px;
    /*background: linear-gradient(rgba(0,0,0,.20),rgba(0,0,0,.30)100%), url(../img/3.png) ; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 3px 3px 4px black;
}

.wpp_button{
    background: url('https://cdn-icons-png.flaticon.com/512/124/124034.png?w=826&t=st=1670458599~exp=1670459199~hmac=26969528b77a5db553a65d150a6ccba4227468d1b7e0e41c86e9f2a35a8e4b63');
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    color: white;
}

.wpp_button_image{
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 600px)
{
  .banner1, .banner2, .banner3
   {
    min-height: 500px;
    background: none;
   }
   .project-img
   {
    width: 100%;
    height: 100%;
    
   }
}


@media screen and (min-width: 601px) and (max-width: 800px)
{
  .banner1, .banner2, .banner3
   {
    min-height: 430px;
    
   }
   
   .project-img
   {
    width: 100%;
    height: 100%;
   }
}

@media screen and (min-width: 801px) and (max-width: 1300px)
{
  .banner1, .banner2, .banner3
   {
    min-height: 375px;
    
   }
   .project-img
   {
    width: 270px;
    height: 270px;
   }
}

@media screen and (min-width: 1301){

  .banner1, .banner2, .banner3
   {
    min-height: 370px;
    
   }
   .project-img
   {
    width: 300px;
    height: 300px;
   }
}
