
.Img{
    opacity: 0.85;
}

.Img:hover{
    transition: .3s;
    opacity: 1;
    
}

.project-img{
    margin: 0 auto;
    height: 60vh;
}

.banner1{
    min-height: 350px;
    background: linear-gradient(rgba(0,0,0,.20),rgba(0,0,0,.30)100%), url(../img/4.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 3px 3px 4px black;
}

.banner2{
    min-height: 350px;
    background: linear-gradient(rgba(0,0,0,.20),rgba(0,0,0,.30)100%), url(../img/2.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 3px 3px 4px black;
}

.banner3{
    min-height: 350px;
    background: linear-gradient(rgba(0,0,0,.20),rgba(0,0,0,.30)100%), url(../img/3.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 3px 3px 4px black;
}


@media screen and (max-width: 600px)
{
  .banner1, .banner2, .banner3
   {
    min-height: 500px;
    background: none;
   }
   .project-img{
    width: 200px;
    height: 200px;
   }
}


@media screen and (min-width: 601px) and (max-width: 800px)
{
  .banner1, .banner2, .banner3
   {
    min-height: 430px;
    
   }
   
   .project-img
   {
    width: 250px;
    height: 250px;
   }
}

@media screen and (min-width: 801px) and (max-width: 1300px)
{
  .banner1, .banner2, .banner3
   {
    min-height: 375px;
    
   }
   .project-img
   {
    width: 270px;
    height: 270px;
   }
}

@media screen and (min-width: 1301){

  .banner1, .banner2, .banner3
   {
    min-height: 370px;
    
   }
   .project-img
   {
    width: 300px;
    height: 300px;
   }
}
